<!DOCTYPE html>
<html ng-app="TicTacToe">
  <head>
    <title>TIC TAC TOE</title>
    <script src="js/jquery.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="js/angular.min.js"</script>
    <script src="js/angular-route.min.js"</script>
    <script src="js/tictactoe_controller.js"></script>
    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

     <div id="game" ng-controller="GameCtrl">
       <ul id="teams">
        <li>
          <img src="{{players[0].img_url}}" />
          <h2>Team <span class="team"></span></h2>
          <h3 class="player">{{players[0].name}}</h3>
        </li>
        <li>
          <img src="{{players[1].img_url}}" />
          <h2>Team <span class="team"></span></h2>
          <h3 class="player">{{players[1].name}}</h3>
        </li>
      </ul>
      <div>{{turns}}</div>
      <div id="board">
        <div ng-repeat="tile in tiles">
          <div id="tile{{tile.id}}" class="tile" ng-click="handleClick($index)">
            {{tile.letter}}
          </div>
      </div>
      </div>
      <div id="results" ng-show="GameOver">
        <h1>{{message}}</h1>
        <span class="image"></span>
        <button ng-click="new_game()">play again</button>
      </div>
    </div>

  </body>
</html>


